{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions List {% endblock %}

{% block content %}
    <h2 class='text-center'>Commissions</h2>
    <div class='d-flex flex-column flex-shrink-0 p-3'>
        <!-- CSS Images -->
        <div class='col-md-3 d-flex align-items-center justify-content-center vh-100 position-fixed end-0 top-0'>
            <img src="{% static 'commissions/LJ.jpg' %}" alt='Lehann.jpg' class='img-fluid' style='max-width: 250px;'>
        </div>
        
        <!-- Content -->
        <div class='comtainer d-flex flex-column flex-column justify-content-center align-items-center text-center'>
            <ul class='nav nav-pills flex-column mb-auto justify-content-center'>
                {% for commission in commissions %}
                    <li class='nav-item'>
                        <a href='{{ commission.get_absolute_url }}' class='list-group-item list-group-item-action gap-3 py-3' style='background-color: transparent; text-align: center; font-weight: bold; font-size: 1.5rem'> 
                            {{ commission.title }}</a>
                        <p class='px-3'>
                            Description: {{ commission.description }}, {{ commission.people_required }} people required<br>
                            Created on: {{ commission.created_on }}<br>
                            Updated on: {{ commission.updated_on }}
                        </p>
                    </li>
                {% empty %}
                    <p>No commissions yet.</p>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}