{% extends 'base.html' %}
{% load static %}

{% block title %} Product List {% endblock %}

{% block content %}
<style>
    .title_bar {
        text-align: center;
        letter-spacing: 1.5px;
        color: black;
        border: 2px solid black;
        padding: 8px;
        margin-bottom: 5vh;
    }
    
    ul.merch{
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        text-align: center;

                background-color: #FDB927;

    }

    .merch_nav {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 4vw;
        justify-content: center;
        text-align: center;
    }

    .productIMG {
        max-width: 100%;
        height: auto;
    }
    
    li {
        list-style: none;
        display: block;
        flex-wrap: wrap;
        max-width: 25%;
        row-gap: 10px;
        align-items:center;
        text-align: left;
    }

    .product_price {
        font-size: medium;
        letter-spacing: 1.5px;
        padding-bottom: 2vh;

    }
    .product_name {
        display: block;
        padding-bottom: 1.5vh;
    }

    .create_product {
        border: 0.1vw solid black;
        text-align: center;
        padding: 10px 0 10px 0;
        letter-spacing: 1px;    
        max-width: 20%;
        margin-bottom: 5vh;
    }

    .create_product:hover{
        background-color: black;
        color: white;
    }

    .add_cart{
        margin-top: 1vh;
        border: 0.1vw solid black;
        text-align: center;
        padding: 10px 30% 10px 30%;
        letter-spacing: 1px;
    }

     a{
        color: black;
        text-decoration: none;
     }

</style>

<h1>MERCHSTORE</h1>

<ul class="merch_nav">
    <li>
        <a href="{% url 'merchstore:product_list' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'merchstore:transactions' %}">My Shop</a> 
    </li>
    <li>
        <a href="{%url 'merchstore:cart' %}">My Orders</a>
    </li>
</ul>

{%if user.is_authenticated %}
<p class="title_bar"> MY PRODUCTS</p>
<a href="{% url 'merchstore:product_create'%}"><div class="create_product"> Create Product</div></a>


{% for productType in productTypes %}
<ul class="merch">
    {% for product in user_products %}
    {% if productType == product.productType%}

        <li>
            <img src="{{product.profile_image.url}}" alt="{{product.name}}" class="productIMG">
            <span class="product_name"><a href="{{product.get_absolute_url}}">{{product.name}}</a></span>
            <span class="product_price">₱{{product.price}} PHP</span>
        </li>  
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}
{% endif %}

<p class="title_bar"> ALL PRODUCTS</p>

{% for productType in productTypes%}
        <ul class="merch">
            {% for product in products %}
            {% if productType == product.productType%}
            <li>
                <img src="{{product.profile_image.url}}" alt="{{product.name}}" class="productIMG">
                <span class="product_name"><a href="{{product.get_absolute_url}}">{{product.name}}</a></span>
                <span class="product_price">₱{{product.price}} PHP</span>
            </li>  
            {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}