{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>The Basketball G.O.A.T.s</h1>
  <ul class="list-group">
    {% for category in categories %}
      <li class="list-group-item">
        <h3>
          <a href="{% url 'blog:articles_by_category' category.id %}">
            {{ category.name }}
          </a>
        </h3>
        <p>{{ category.description }}</p>
      </li>
    {% empty %}
      <li class="list-group-item">No categories available.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
