{% extends 'base.html' %}
{% load static %}
{% block title %} Article List {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'wiki/css/lakers.css' %}">
<h1>Wiki</h1>

{% if categories %}
    {% if user.is_authenticated and user_articles %}
        <h3>Articles by {{ user.profile.display_name }}</h3>
        {% for article in user_articles%}
            <ul>
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
    <div class="accordion" id="accordionExample">
    {% for category in categories %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button class="accordion-button" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapse{{ forloop.counter }}" 
                aria-controls="collapse{{ forloop.counter }}">
                {{ category.name }}
            </button>
        </h2>
        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" 
            aria-labelledby="heading{{ forloop.counter }}" 
            data-bs-parent="#accordionExample">
            <div class="accordion-body" style="text-align:left">
                {{ category.description }}

                {% if category.articles.all %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>Articles under: {{ category.name }}</strong>
                    </button>
                    <ol class="dropdown-menu">
                        {% for article in category.articles.all %}
                        <li><a class="dropdown-item" href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
                {% else %}
                <p>No articles available under this category.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
<p>Unfortunately, the database does not have data of my glorious King Lebron James, 
  enjoy these 3 images of the data this wiki was supposed to be about instead</p>
<div>
  <div class="container text-center">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'wiki/lehannJames.png' %}" class="img-fluid" alt="Lehann Enzo Galang James">
        </div>
        <div class="col-md-4">
            <img src="https://images.wsj.net/im-762053?width=1280&size=1" class="img-fluid" alt="Lebron LeSunshine James">
        </div>
        <div class="col-md-4">
            <img src="{% static 'wiki/lesunshine.jpg' %}" class="img-fluid" alt="My cat, Lebron James">
        </div>
    </div>
</div>
</div>
{% endif %}
<button>
    <a href="{% url 'wiki:add_article' %}">Add an Article</a>
</button>
{% endblock %}