{% extends 'base.html' %}
{% load static %}
{% block title %} {{ article.title}} {%endblock%}

{% block content %} 
<link rel="stylesheet" href="{% static 'wiki/css/lakers.css' %}">
<div>
    <a href="{% url 'wiki:article_index' %}">Back</a>
    <a href="{% url 'wiki:edit_article' article.id %}">Edit Article</a>
    <a href="{% url 'wiki:add_image' article.id %}">Add Images</a>
</div>
<h2>{{ article.title}}</h2>
<div>Category: <strong>{{article.category}}</strong></div>
 {% if images %}
        <div id="carouselIndicators" class="carousel slide">
            <div class="carousel-indicators">
                {% for image in images %}
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}" 
                        {% if forloop.first %} class="active" {% endif %} aria-label="Slide {{ forloop.counter0 }}">
                    </button>
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for image in images %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ image.description }}">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% else %}
        <li> No images </li>
        {% endif %}
<p style="border: 1px solid black; width: 70%; margin: 0 auto">
{{article.entry}}
</p>
<div>
    {% if user.is_authenticated %}
    <p>Add a comment?</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post Comment</button>
        </form>
    {% endif %}
    <div style="border-top: 1px solid #ccc; padding: 10px 0;"></div>
    <h4>Comments</h4>
    {% if comments %}
        {% for comment in comments %}
            <strong>{{ comment.author }}</strong> • {{ comment.created_on|date:"M d, Y H:i" }}<br>
            {{ comment.entry }}
        {% endfor %}
    {% else %}
        <p> No comments </p>
    {% endif %}
    </div>
</div>
<div>
    {% if previous %}
        <a href="{{ previous.get_absolute_url }}">← Previous: {{ previous.title }}</a>
    {% endif %}

    {% if next_article %}
        <span style="margin-left: 20px;"></span>
        <a href="{{ next_article.get_absolute_url }}"> Next: {{ next_article.title }} →</a>
    {% endif %}
</div>
{%endblock%}