{% extends 'base.html' %}
{% load static %}
{% block title %} {{ article.title}} {%endblock%}

{% block content %} 
<link rel="stylesheet" href="{% static 'wiki/css/lakers.css' %}">
<div class="article-header lakers-theme">
    <div class="header-nav">
        <a href="{% url 'wiki:article_index' %}" class="nav-btn">Back</a>
        {% if user.profile == article.author %}
        <a href="{% url 'wiki:edit_article' article.id %}" class="nav-btn">Edit Article</a>
        {% endif %}
        <a href="{% url 'wiki:add_image' article.id %}" class="nav-btn">Add Images</a>
    </div>
    
    <div class="article-title-container">
        <h2 class="article-title">{{ article.title}}</h2>
        <div class="article-category">Category: <strong>{{article.category}}</strong></div>
    </div>
</div>
{% if images %}
        <div id="carouselIndicators" class="carousel slide">
            <div class="carousel-indicators">
                {% for image in images %}
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}" 
                        {% if forloop.first %} class="active" {% endif %} aria-label="Slide {{ forloop.counter0 }}">
                    </button>
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for image in images %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ image.description }}" class="d-block mx-auto"
                        style="max-width: 100%; width: 600px; height: 400px; object-fit: contain;">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% else %}
        <li> No images </li>
        {% endif %}
<div class="article-content">
    <p style="border: 1px solid black; width: 70%; margin: 0 auto">
    {{article.entry}}
    </p>
</div>
<div>
    {% if user.is_authenticated %}
    <div class="article-content">
        <p>Add a comment?</p>
    </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="lakers-btn-purple">Post Comment</button>
        </form>
    {% endif %}
    <div style="border-top: 1px solid #ccc; padding: 10px 0;"></div>
    <h4>Comments</h4>
    {% if comments %}
        {% for comment in comments %}
            <ul>
                <li>
                    <strong>{{ comment.author }}</strong> • {{ comment.created_on|date:"M d, Y H:i" }}<br>
            {{ comment.entry }}
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p> No comments </p>
    {% endif %}
    </div>
</div>
<div>
    {% if previous %}
        <a href="{{ previous.get_absolute_url }}" class="lakers-btn-purple">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            Previous: {{ previous.title }}</a>
    {% endif %}
    {% if next_article %}
        <span style="margin-left: 20px;"></span>
        <a href="{{ next_article.get_absolute_url }}" class="lakers-btn-purple"> Next: {{ next_article.title }} 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </a>
    {% endif %}
</div>
{%endblock%}