{% extends "base.html" %}
{% block title %} Thread List {% endblock %}

{% block content %}
<div class="container">

  <h1 class="text-center my-4 pb-1">Forum</h1>

  {% if threads %}
  {% for category in categories %}
    <div class="row-md-4 my-4">
      {% for thread in threads %}
        <div class="row-md-1 mb-3">
          <div class="card shadow">
            <div class="card-body text-start">
              <!-- Thread Title -->
              <h5 class="card-title my-2">
                <a href="{% url 'forum:thread_detail' thread.id %}" class="text-primary">
                  {{ thread.title }}
                </a>
              </h5>
              <!-- Thread Metadata -->
              <p class="text-muted">
                <strong>last message:</strong> {{ thread.entry|truncatewords:25 }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {% else %}
    <!-- Fallback message if no threads exist -->
    <p class="text-center text-danger">No threads yet.</p>
  {% endif %}
</div>
{% endblock %}

