{% extends "base.html" %}
{% load extra_filters %}

{% block title %} Thread List {% endblock %}

<!-- Template to simplify thread_list code -->

{% block content %}
<div class="container">
<h1 class="text-center my-4 pb-1">Forum</h1>

{% if categories %}  

    <!-- User Threads -->
    <div class="card p-4 pb-2 my-3">
    <h4 class="text-start">My Threads:</h4>
    <div class="row my-4">
    {% for category in categories %}
    {% if category.threads.all|anyFromUser:user %}  
        <container class="col-md-4 my-3">
        <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
            <h4 class="text-center text-muted mt-1 mb-4">{{ category }}</h4>      
                <!-- Verbose name 'threads' reverse -->
                {% for thread in category.threads.all %}
                    <!-- block override -->
                    {% block my_list %}
                    {% endblock %}
                {% endfor %}
        </div>
        </container>  
    {% endif %}  
    {% endfor %}
    </div>
    </div>

    <!-- Other Threads -->
    <div class="card p-4 pb-2">
    <h4 class="text-start">Other Threads:</h4>
    <div class="row my-4">
    {% for category in categories %}
    {% if category.threads.all %}  
        <container class="col-md-4 my-3">
        <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
            <h4 class="text-center text-muted mt-1 mb-4">{{ category }}</h4>      
                <!-- Verbose name 'threads' reverse -->
                {% for thread in category.threads.all %}
                    <!-- block override -->
                    {% block other_list %}
                    {% endblock %}
                {% endfor %}
        </div>
        </container>  
    {% endif %}  
    {% endfor %}
    </div>
    </div>
{% endif %}

</div>
{% endblock %}