{% extends "base.html" %}
{% load extra_filters %}

{% block title %} Thread List {% endblock %}

<!-- Template to simplify thread_list code -->

{% block content %}
<div class="container">
<h1 class="text-center my-4 pb-1">Forum</h1>

{% if threads %}  

    <!-- User Threads (only visible if authorized) -->
    {% if user.is_authenticated %}
    <div class="card p-4 pb-2 my-3 border" style="border-radius: 8px;">
    <div class="d-flex col">
        <h4 class="col-md-11 text-start text-muted ms-2 mt-2">{{ user }}'s Threads:</h4>
        <a href="{% url 'forum:thread_create'%}" class="col-md-1 btn btn-outline-primary pt-3 pb-2"><h6>Add</h6></a>
    </div>
    
    
    <div class="row my-3 mt-0">   
    {% for category in categories %}
    {% if category.threads.all|anyFromUser:user %}  
        <container class="col-md-4 my-3">
        <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
            <h4 class="text-center mt-1 mb-4">{{ category }}</h4>      
                <!-- Verbose name 'threads' reverse -->
                {% for thread in category.threads.all %}
                    <!-- block override -->
                    {% block my_list %}
                    {% endblock %}
                {% endfor %}
        </div>
        </container>  
    {% endif %}  
    {% endfor %}

    <!-- User threads with No Category -->
    {% if no_cat_threads|anyFromUser:user %}
        <container class="col-md-4 my-3">
        <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
            <h4 class="text-center text-muted mt-1 mb-4"> (no category) </h4>      
                <!-- Verbose name 'threads' reverse -->
                {% for thread in no_cat_threads %}
                    <!-- block override -->
                    {% block no_category %}
                    {% endblock %}
                {% endfor %}
        </div>
        </container>  
    {% endif %} 
    </div>
    </div>
    {% endif %}  

    <!-- Other Threads (modified when not authorized) -->
    {% if user.is_authenticated %}
        <div class="card p-4 pb-2 border" style="border-radius: 8px;">
        <h4 class="text-start text-muted ms-2 mt-2">Other Threads:</h4>
        
        <div class="row my-3 mt-0">
        {% for category in categories %}
        {% if category.threads.all|anyFromOther:user %}  
            <container class="col-md-4 my-3">
            <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
                <h4 class="text-center mt-1 mb-4">{{ category }}</h4>      
                    <!-- Verbose name 'threads' reverse -->
                    {% for thread in category.threads.all %}
                        <!-- block override -->
                        {% block other_list %}
                        {% endblock %}
                    {% endfor %}
            </div>
            </container>  
        {% endif %}  
        {% endfor %}

        <!-- Other threads with No Category -->
        {% if no_cat_threads|anyFromOther:user %}
            <container class="col-md-4 my-3">
            <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
                <h4 class="text-center text-muted mt-1 mb-4"> (no category) </h4>      
                    <!-- Verbose name 'threads' reverse -->
                    {% for thread in no_cat_threads %}
                        <!-- block override -->
                        {% block other_no_category %}
                        {% endblock %}
                    {% endfor %}
            </div>
            </container>  
        {% endif %}  
        </div>
        </div>

    <!-- All threads regardless of User -->    
    {% else %}
        <div class="card p-4 pb-2 border" style="border-radius: 8px;">
        <h4 class="text-start text-muted ms-2 mt-2">All Threads:</h4>
        
        <div class="row my-3 mt-0">
        {% for category in categories %}
        {% if category.threads.all %}  
            <container class="col-md-4 my-3">
            <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
                <h4 class="text-center mt-1 mb-4">{{ category }}</h4>      
                    <!-- Verbose name 'threads' reverse -->
                    {% for thread in category.threads.all %}
                        <!-- block override -->
                        {% block no_auth_list %}
                        {% endblock %}
                    {% endfor %}
            </div>
            </container>  
        {% endif %}  
        {% endfor %}

        <!-- All threads with No Category -->
        {% if no_cat_threads %}
            <container class="col-md-4 my-3">
            <div class="px-4 py-3 h-100 card-body shadow-sm rounded bg-light">
                <h4 class="text-center text-muted mt-1 mb-4"> (no category) </h4>      
                    <!-- Verbose name 'threads' reverse -->
                    {% for thread in no_cat_threads %}
                        <!-- block override -->
                        {% block no_auth_no_category %}
                        {% endblock %}
                    {% endfor %}
            </div>
            </container>  
        {% endif %}  
        </div>
        </div>
    {% endif %}

{% endif %}
</div>
{% endblock %}