{% extends "base.html" %}
{% block title %} {{ category.name }} {%endblock%}

{% block content %}
<div class="container">
  <!-- Header: Display category name and description -->
  <h1 class="text-center my-4 text-dark">
    {{ category.name }}
  </h1>
  <p class="lead text-muted">{{ category.description }}</p>
  <hr>

  {% if posts %}
    <div class="row-md-4 my-4">
      {% for post in posts %}
        <div class="row-md-1 mb-3">
          <div class="card shadow">
            <div class="card-body text-start">
              <!-- Article Title -->
              <h5 class="card-title my-2">
                <a href="{% url 'forum:post_detail' post.id %}" class="text-primary">
                  {{ post.title }}
                </a>
              </h5>
              <!-- Article Metadata: Created and Updated timestamps -->
              <p class="text-muted">
                <strong>last message:</strong> {{ post.entry|truncatewords:25 }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <!-- Fallback message if no articles exist -->
    <p class="text-center text-danger">No posts available in this category.</p>
  {% endif %}
</div>
{% endblock %}
