{% extends "base.html" %}
{% block title %} {{ article.title }} {%endblock%}

{% block content %}
<div class="container my-4">

  <!-- Main Section -->
  <article class="article-detail p-4 shadow-sm rounded bg-light">
    <header>
      <h1 class="text-dark">{{ thread.title }}</h1>
      <p class="text-muted">
        <strong>Category:</strong> 
          {% if thread.category %}
            {{ thread.category.name }}
          {% else %}
            None
          {% endif %}
        <br>
        <strong>Published on:</strong> {{ thread.created_at|date:"F j, Y, g:i a" }} 
        <br>
        <strong>Last updated on:</strong> {{ thread.updated_at|date:"F j, Y, g:i a" }}
      </p>
    </header>

    <section class="article-entry">
      {{ thread.entry|linebreaks }}
    </section>

    <hr></hr>
    
    <!-- Comment Section -->
    <section>
      <h3 class="text-primary">Comments:</h3>
      {% if comments %}
        {% for comment in comments %}
          <h5>{{ comment.author }}</h5>
          <div class="card shadow p-2">
            {{ comment.entry }}
          </div>
        {% endfor %}
      {% else %}
        <p class="text-center text-danger">No comments yet.</p>
      {% endif %}
    </section>

  </article>

  <!-- Footer with Navigation Link -->
  <footer class="mt-3">
    <a href="{% url 'forum:threads_by_category' thread.category.id %}" class="btn btn-primary">
        Back to Threads
    </a>
  </footer>

</div>
{% endblock %}
