{% extends "base.html" %}
{% block title %} Add Thread {% endblock %}

{% block content %}
<div class="container col-md-6 my-4">
    <h1 class="text-dark">Forum</h1>
    <h3 class="text-dark" style="font-weight: 300;">add new thread</h3>
    
    <div class="mx-auto mt-4">
        <a href="{% url 'forum:thread_list'%}" class="btn btn-primary">
        Back to Threads
        </a>
    </div>

    <article class="article-detail px-5 p-4 m-4 shadow-sm rounded bg-light">
        <form method="POST" class="{{ form.class_name }}">
            {% csrf_token %}
            {{ form }} 
        <input type="submit" value="Submit">  
        </form>
    </article>    
</div>
{% endblock %}