{% extends "base.html" %}
{% block title %} {{ category.name }} {%endblock%}

{% block content %}
<div class="container">

  <h1 class="text-center my-4 text-dark">
    {{ category.name }}
  </h1>

  <p class="lead text-muted">{{ category.description }}</p>
  <hr>
  {% if threads %}
    <div class="row-md-4 my-4">
      {% for thread in threads %}
        <div class="row-md-1 mb-3">
          <div class="card shadow">
            <div class="card-body text-start">
              <!-- Thread Title -->
              <h5 class="card-title my-2">
                <a href="{% url 'forum:thread_detail' thread.id %}" class="text-primary">
                  {{ thread.title }}
                </a>
              </h5>
              <!-- Thread Metadata -->
              <p class="text-muted">
                <strong>last message:</strong> {{ thread.entry|truncatewords:25 }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <!-- Fallback message if no threads exist -->
    <p class="text-center text-danger">No threads found in {{ category.name }}.</p>
  {% endif %}
</div>
<footer class="mt-3">
    <a href="{% url 'forum:thread_list' %}" class="btn btn-primary">
        Back to Category List
    </a>
</footer>
{% endblock %}
